table {
    td {
        vertical-align: middle;
    }
}

.custom-table__action-btn {
    cursor: pointer;
    border: 1px solid rgb(250, 253, 247);
    background-color: rgb(186, 243, 137);
    /*background: none;*/
    margin-right: 5px;

    svg {
        pointer-events: none;
        padding: 5px;
        width: 1.7em;
        height: 1.7em;
    }
}

.delbtn {
    background-color: rgb(244, 82, 95);
}