
.App{
    margin: 0 auto;
    
}
.word{
    
    border: 1px solid black;
    max-width: 18em;
    min-width: 10em;
    width: 17em;
    padding: 10px;
    margin: 10px auto;
    background-color: white;
    border-radius: 5px;
    height: 12em;
    
}
.word-meaning {
    font-size: larger;
    font-weight: 600;
    padding: 20px;
    color: rgb(62, 62, 190);
}
.word-transcription{
padding: 10px;
}
.word-translation{
    padding: 10px;
}
.CardBoxesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.cardBox{
    background-color: rgb(186, 243, 137);
    height: 14em;
    width: 20em;
    margin: 10px;
    padding: 20px;
    position: relative;
    
  
}
.cardBox .word {
    position: absolute;
    display: none;
    bottom: 10px;
    margin: 10px;
   
}

.cardBox .word:nth-child(1) {top: 0px;left: 0px; display: block;}
.cardBox .word:nth-child(2) {top: 10px;left: 10px; display: block;}
.cardBox .word:nth-child(3) {top: 20px;left: 20px; display: block;}
.cardBox .word:nth-child(4) {top: 30px;left: 30px; display: block;}
.cardBox .word:nth-child(5) {top: 40px;left: 40px; display: block;}

.cardBox.guessed{
    background-color: rgb(116, 224, 241);
}

.cardBox.unknown{
background-color: rgb(244, 82, 95);
}

.TableContainer{
    padding:1em;
    margin: 1em;
}

.MyHeader{
    background-color: rgb(186, 243, 137);
    height: 10em;
    
   
}
.Heading{
    font-size: 1.5em;
   
}
.nav-link{
    color: black;
    margin: 10px;
}
.HeadingContainer {
    align-self: center;
   
}
@media screen and (max-width: 992px){
    .HeadingContainer {
        margin: 0 auto;
     
     }   
     .CardBoxesContainer{
        flex-direction:column;
    }
    .cardBox{
        margin: 1em auto;
    }
    .table{
        font-size: 0.5rem;
    }
    .TableContainer{
        margin: 0
    }
}

@media screen and ( min-width: 1024px){
    
    .Booster{
        display: none;
       
    }
   
}
@media screen and ( min-width: 1280px){
    .Booster{
       display: block;
       
    }
}
.LogoPng{
    height: 50px;
}
.nav{
    align-items: flex-end;
    
}
.word-translation{
    display: none
}
.word-translation.showWord{
    display: block;
}
.explanation.onShow{
    display: none;
}

.swbtn {
    border: none;
    background-color: white; 

}

.SliderContainer{
    margin: 10px;
    padding: 10px;
}
.items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Booster{
    width: 10em;
}
